:root {
    --grey: #f2f2f2;
    --bordergrey: #dadce0;
    --footertext: #4c4c4c;
    --darkgrey: darkgrey;
}

html {
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}



body {
    font-size: 1.4rem;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;

}

/* Header */

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;


}

.linksheader {
    margin-top: 15px;
    padding: 4px;

}


/* Links */


a {
    text-decoration: none;
    color: var(--footertext);
}

a:hover {
    text-decoration: underline;
}



/* GSearch Section*/

.box {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;

}


#glogo {
    margin-top: 150px;
}

form {

    text-align: center;

}


#textsearch {

    margin: 20px auto;
    margin-bottom: -20px;
    padding: 15px 38rem 15px 40px;
    border-radius: 25px;
    border-color: var(--bordergrey);
    border-style: solid;
    border-width: thin;
    outline: none;
}

#textsearch:hover {
    box-shadow: 0 2px 8px -3px var(--darkgrey);

}

/* Mic and Magnifiying glass button */

.microphone,
.camera,
.searchmg {

    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
   
    border: none;
    background: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.microphone {
    background-image: url(images/Google-7.svg);
    transform: translate(1075%, -70%);
}

.camera {
    background-image: url(images/cameraimages.svg);
    transform: translate(820%, -250%);
    
}

.searchmg {
    background-image: url(images/mgimage.svg);
    transform: translate(950%, -350%);
}

.mglass {

    width: 20px;
    height: 20px;
    display: block;
    margin: right;
    transform: translate(98%, -200%);
    border: none;
    background: transparent;
    background-image: url(images/Google-5.svg);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

/* Search buttons */



.submit {
    padding: 10px 16px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #4c4c4c;
    outline: none;
}

.submit:hover {
    box-shadow: 0 2px 8px -3px var(--darkgrey);
    border-style: solid;
    border-width: thin;
    border-color: #dadce0;
}


/* Change Language Div */

#changelang p {

    margin: 20px auto;
    text-align: center;

}

#changelang>p>a {
    color: #0d0a9e;

}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#countryfooter,
#bottomfooter {
    background-color: var(--grey);
    border-top: thin solid var(--bordergrey);
    padding: 12px 0;
    color: var(--footertext);
}

#countryfooter {
    padding-left: 18px;
}

#bottomfooter {
    display: flex;
    justify-content: space-between;
}

span>a {
    padding: 0 16px 0 18px;
}



/* ADVANCED SEARCH CSS */

#advancedHeader {
  position: fixed;
  width: 100%;
  background-color: var(--grey);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.advul .advlist {
    padding: 0 20px 0 20px;
}

#advsearchbanner {
    margin-top: 80px;
    padding: 10px 0 30px 3%;
    border-bottom: thin solid var(--grey);
    font-size:  2rem;
    font-weight: bold;
    color: rgb(216, 40, 40) ;
}

#findwith {
    display: flex;
    width: 59.8%;
    justify-content: space-between;
    text-align: left;
    align-items: left;
    margin: 30px 0 20px 20px;
    font-size: 1.8rem;
}



#formadv {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 30px 0 20px 20px;
}

#formadv .form-group {
    display: flex;
    text-align: left;
    padding-top: 15px;
}
#formadv .form-group input {
    width: 40%;
    height: 25px;
    border: 1px solid #afafaf;
}
#formadv .form-group label {
    width: 15%;
}

.clarification {
    width: 40%;
    margin: 0px 0 0px 10px;
}

#buttonbl {
    text-align: right;
    width: 55.7%;
}

#blue-button {
    font-weight: bold;
    color: white;
    background-color: #1d93e2;
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 8px;

}
